*.gcno
*.gcda
coverage
src/tests/unit_tests
config.nice
src/image/readers/readers
src/image/writers/writers
src/tests/data_out
src/imagetool/imagetool
vertical3d.pc
version.h
*Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
depcomp
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
*.deps/
*.libs/
*Makefile
config.log
config.status
libtool
*.dirstamp
win_build/
*.vcxproj.user